<h1>Edit An Article</h1>

<%= form_for(@article) do |f| %>
		<p>
			<div id="title_block">
				<%= f.label :title %>
				<%= f.text_field :title, size:75, id:"title_field" %>
			</div>
			<div id="text_block">
				<%= f.label :text %>
				<%= f.text_area :text, cols:125, rows:10, id:"article_text_field" %>
			</div>
			<div id="tags_block">
				<%= f.label "Topic Tags" %>
				<%= f.collection_check_boxes :tag_ids, Tag.all, :id, :name %>
			</div>
		</p>
	<%= f.submit value:"Submit Correction", class:"publish_button" %>
<% end %>
<br>
<span class="bubble_button"><%= link_to 'Cancel', articles_path %></span>
