<div id="new_article_block">
	<h1 class="centered_header">New Article</h1>
	<%= form_for(@article) do |f| %>
		<p>
			<div id="title_block">
				<%= f.label :title %>
				<%= f.text_field :title, size:75, id:"title_field" %>
			</div>
			<div id="text_block">
				<%= f.label :text %>
				<%= f.text_area :text, cols:25, id:"article_text_field" %>
			</div>
			<div id="tags_block">
			<%= hidden_field_tag "article[tag_ids][]", nil %>
				<% @tags.each do |t| %>
					<%= check_box_tag "article[tag_ids][]", t.name, @article.tags.include?(t) %>
					<%= t.name %>
				<% end %>
			</div>
		</p>
		<%= f.submit value:"Publish Article", class:"publish_button"%>
	<% end %>
</div>