<div id="new_article_block">
	<h1 class="centered_header">New Article</h1>
	<%= form_for(@article) do |f| %>
		<p>
			<div id="title_block">
				<%= f.label :title %>
				<%= f.text_field :title, size:75, id:"title_field" %>
			</div>
			<div id="text_block">
				<%= f.label :text %>
				<%= f.text_area :text, cols:125, rows:10, id:"article_text_field" %>
			</div>
			<div id="tags_block">
				<%= f.label :tag_id %>
				<%= f.collection_check_boxes :tag_ids, Tag.all, :id, :name %>
			</div>
		</p>
		<%= f.submit value:"Publish Article", class:"publish_button"%>
	<% end %>
</div>
