<h1>Edit A Post</h1>

<%= form_for(@post) do |f| %>
		<p>
			<div id="title_block">
				<%= f.label :name %>
				<%= f.text_field :name, size:75, id:"name_field" %>
			</div>
			<div id="text_block">
				<%= f.label :text %>
				<%= f.text_area :text, size:"60x40", id:"post_text_field" %>
			</div>
		</p>
	<%= f.submit value:"Submit Correction", class:"publish_button" %>
<% end %>
<br>
<span class="bubble_button"><%= link_to 'Cancel', discussion_threads_url %></span>
