<div id="masthead">
	<div id="paper_name">
		<p><h1><%= link_to "Twin Falls Telegram", root_path %></h1></p>
		<p><h2><%= link_to "Serving Twin Falls and the Grey Mountains", root_path %></h2></p>
	</div>
	<div id="login_area">
		<% if user_signed_in? %>
			<%= "Welcome, #{current_user.name}" %>
			<%= link_to "(Logout)", destroy_user_session_path, method: :delete %>
		<% else %>
			<%= link_to "Login", new_user_session_path %>
		<% end %>
	</div>
</div>