<div id="masthead">
	<div id="paper_name">
		<p><h1><%= link_to "Twin Falls Telegram", root_path %></h1></p>
		<p><h2><%= link_to "Serving Twin Falls and the Grey Mountains", root_path %></h2></p>
	</div>
	<div id="login_area">
		<% if user_signed_in? %>
			<% if current_user.editor? %>
				<span class="bubble_button"><%= link_to "POST NEW ARTICLE", new_article_path %></span>
			<% end %>
			<%= "Welcome, #{current_user.name} | " %>
			<span class="bubble_button"><%= link_to "LOG OUT", destroy_user_session_path, method: :delete %></span>
		<% else %>
			<%= "Welcome, Guest User | " %>
			<span class="bubble_button"><%= link_to "LOG IN", new_user_session_path %></span>
		<% end %>
	</div>
</div>