<h3 class="personal_ads_header">Personal Advertisements</h3>
<% @all_personals = Personal.all.order(created_at: :desc) %>
<% @all_personals.each { |p| %>
	<div class="personal_ad">
	<p class="personal_text">
		<span class="big_initial">
		<%= link_to_if((user_signed_in? && current_user.editor?), p.first_letter, {controller: "personals", action: "destroy", method:"delete", id: p}, data: {confirm: "Are you sure you want to delete this personal ad?"}) %>
		</span>
		<span class="rest_of_personal"><%= p.rest_of_text %></span>
		</p>
		<% if p.signature %>
			<span class="signed"><%= p.signature %></span>
		<% end %>
	</div>
<% } %>

<h4 id="advertise">Advertise in the Telegram!</h4>

<div id="new_personal_block">
	<% temporary_personal = Personal.new %>
	<%= form_for(temporary_personal) do |f| %>
		<%= f.label "Message" %>
		<%= f.text_area :body%>
		<%= f.label :signed %>
		<%= f.text_field :signed %>
		<%= f.submit value:"Post Ad", class:"btn btn-primary post_ad_button"%>
	<% end %>
</div>