<!DOCTYPE html>
<html>
<head>
  <title>Twin Falls Telegram</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= auto_discovery_link_tag(:rss, "http://twinfalls.abwinkler.com") %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Sancreek' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Inconsolata' rel='stylesheet' type='text/css'>
</head>
<body>
	<div class="container-fluid">
		<div class="row" id="masthead">
			<%= render "layouts/masthead" %>
		</div>
		<div class="row" id="flash">
			<% if notice %>
			<p class="notice"><%= notice %></p>
			<% end %>
			<% if alert %>
		    <p class="alert"><%= alert %></p>
		    <% end %>
	    </div>
		<div class="row" id="articles">
			<%= yield %>
		</div>
	</div>
</body>
</html>
