<!DOCTYPE html>
<html>
<head>
  <title>Twin Falls Gazette</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
	<div id="masthead">
		<div id="paper_name">
			<p><h1>Twin Falls Gazette</h1></p>
			<p><h2>Covering Twin Falls and the Grey Mountains</h2></p>
		</div>
	</div>
	<div id="article_section">
		<%= yield %>
	</div>
</body>
</html>
