<!DOCTYPE html>
<html>
<head>
  <title>Twin Falls Telegram</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= auto_discovery_link_tag(:rss, "http://twinfalls.abwinkler.com") %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Sancreek' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Inconsolata' rel='stylesheet' type='text/css'>
</head>
<body class="paper_background">
	<div class="container-fluid">
		<div class="row" id="masthead">
			<%= render "layouts/masthead" %>
		</div>
		<div class="row" id="flash">
			<% if notice %>
			<p class="notice"><%= notice %></p>
			<% end %>
			<% if alert %>
		    <p class="alert"><%= alert %></p>
		    <% end %>
	    </div>
		<div class="row" id="articles">
			<div class="col-md-2">
				<div class="row" id="comingsoon">
					<p id="ec">Encyclopedia Cataractica</p>
					<p>Coming Soon</p>
				</div>
				<div class="row">
					<div id="subway">
						<%= link_to (image_tag "subway_thumbnail.png", size: "200x100", id: "thumbnail"), subway_path %>
						<p>Minecraft Municipal Railway Co.<br />Official Route Map</p>
					</div>
				</div>
				<div class="row">
					<%= render "layouts/personals" %>
				</div>
			</div>
			<%= yield %>
		</div>
	</div>
</body>
</html>
